/***********************************************************************
FSWD:  Vincent Kioko
Date:  05/14/2022
File:  style.scss -> style.css
Ver.:  1.0.0 20220514

This SCSS specifies the layout and style for the Biosketch React component of my developer portfolio.
***********************************************************************/
@use '../../assets/styles/colors/pantone-snorkel-palette' as snorkel;

div {
  h2 {
    color: snorkel.$jasmine-green;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 2rem;
  }
}